section {
    padding: 60px 0;
  }
  
  .bg-primary {
    background-color: #9966ff !important;
  }
  
  .bg-secondary {
    background-color: #ffca69 !important;
  }
  
  .bg-myblue {
    background-color: #4ac0c1;
  }
  
  .btn-primary {
    background-color: #9966ff !important;
  }
  
  .btn-secondary {
    background-color: #ffca69 !important;
  }
  
  .bg-body-tertiary {
    background-color: #c8cacf !important;
  }
  
  .navcolor{
    background-color: #f7f6f2;
    color: #000;
    border-bottom: solid 1px #c98f73;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  
  }
  .navbar {
    height: 4.5rem;
    background-color: #f7f6f2;
    border-color: #c98f73;
  }
  
  .navbar-brand {
    color: #ff9f40;
  }
  
  .navbar-nav .nav-link {
    color: #000;
  }
  
  .navbar-nav .nav-link:hover {
    color: #ff6384;
  }
  
  .square-card {
    width: 100%;
    padding-top: 100%;
    position: relative;
  }
  
  .content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .navbar-brand .brand-name {
    font-size: 2.5rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    color: #9966ff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-decoration: underline;
    line-height: 1;
  }
  
  .navbar-brand .brand-subtext {
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    color: #000;
  }
  
  .navbar-brand .brand-name:hover {
    font-size: 2.5rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    color: #ff9f40;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
  
  .card {
    box-shadow: 0 0 0 2px;
    border-radius: 0;
  }
  
  .index-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    position: relative;
  }
  
  .index-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .index-card:hover {
    background-color: #ff9f40;
    transform: translate(10px, -10px);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    color: black;
  }
  
  .index-card:hover::before {
    opacity: 1;
  }
  
  .index-card:hover .card-title {
    color: black;
  }
  
  .card.no-hover {
    transition: none;
    background-color: #fff;
    color: inherit;
  }
  
  .pattern-background {
    background-color: #f7f6f2;
    background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 12 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cg stroke='%23c98f73' stroke-opacity='0.3' stroke-width='0.5'%3E%3Cline x1='11' y1='0' x2='0' y2='11'/%3E%3Cline x1='12' y1='11' x2='11' y2='12'/%3E%3C/g%3E%3C/svg%3E");
  }
  
  .card-title {
    color: #57534C;
    font-weight: bolder;
  }
  
  
  footer{
    color:#caced1 !important;
  }
  
  .row-1{
    background-color:#1E242A !important;
  }
  
  .row-2{
    
    background-color: #28323C !important;
  }
  
  aside {
    box-shadow: 0 0 0 2px;
  }
  
  aside h3 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  