{% extends "webapp/base.html" %}

{% block content %}
<div>
  <div class="container-fluid my-5" id="content">
      <div class="row">
    <aside class="col-md-2 border-end ms-3 bg-light p-3" style="height: 552px;">
      <h3>Important Dates</h3>
      <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                  <span class="badge bg-primary rounded-pill me-2">14-jun</span>
                  Candidate registration and choice filling for academic programs under JoSAA 2024 ENDS (Auto/System Locking of Choices)
              </div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                  <span class="badge bg-primary rounded-pill me-2">20-june</span>
                  (Round 1) Seat Allocation
              </div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                  <span class="badge bg-primary rounded-pill me-2">24-june</span>
                  (Round 1) *Last date for fee payment
              </div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                  <span class="badge bg-primary rounded-pill me-2">27-june</span>
                  (Round 2) Seat Allocation
              </div>
          </li>       
          <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                  <span class="badge bg-primary rounded-pill me-2">01-july</span>
                  (Round 2) *Last date for fee payment
              </div>
          </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
              <span class="badge bg-primary rounded-pill me-2">04-july</span>
              (Round 3) Seat Allocation
          </div>
      </li>                        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
              <span class="badge bg-primary rounded-pill me-2">08-july</span>
              (Round 3) *Last date for fee payment
          </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
              <span class="badge bg-primary rounded-pill me-2">10-july</span>
              (Round 4) Seat Allocation
          </div>
      </li>                        
      <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
              <span class="badge bg-primary rounded-pill me-2">15-july</span>
              (Round 4) *Last date for fee payment
          </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
              <span class="badge bg-primary rounded-pill me-2">17-july</span>
              (Round 5) Seat Allocation<br> FINAL ROUND of seat allocation for IITs
          </div>
      </li>                        
      <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
              <span class="badge bg-primary rounded-pill me-2">22-july</span>
              (Round 5) *Last date for fee payment
          </div>
      </li>
          
      </ul>
    </aside>

    <main class="col-md-9">
      <div class="container">
        <div class="row justify-content-start">

          <div class="col-sm-12 col-md-4 col-lg-4 text-start text-md-center my-4">
            <a href="{% url 'institutes' %}" style="text-decoration: none; color: inherit;">
              <div class="card text-dark index-card" id="participating-institutes-card">
                <div class="card-body py-3">
                  <img src="../../static/assets/university-svgrepo-com.svg" height="150px" width="150px">
                </div>
                <div class="card-footer">
                  <h5 class="card-title">Participating Institutes</h5>
                </div>
              </div>
            </a>
          </div>

          <div class="col-sm-12 col-md-4 col-lg-4 text-start text-md-center my-4">
            <a href="{% url 'seats' %}" style="text-decoration: none; color: inherit;">
              <div class="card text-dark index-card" id="seat-matrix-card">
                <div class="card-body py-3">
                  <img src="../../static/assets/seats-theater-svgrepo-com.svg" height="150px" width="150px">
                </div>
                <div class="card-footer">
                  <h5 class="card-title">Seat Matrix</h5>
                </div>
              </div>
            </a>
          </div>
          

          <div class="col-sm-12 col-md-4 col-lg-4 text-start text-md-center my-4">
            <a href="{% url 'analysis' %}" style="text-decoration: none; color: inherit;">
              <div class="card text-dark index-card" id="py-analysis-card">
                <div class="card-body py-3">
                  <img src="../../static/assets/chart-mixed-alt-svgrepo-com.svg" height="150px" width="150px">
                </div>
                <div class="card-footer">
                  <h5 class="card-title">Previous Year Analysis</h5>
                </div>
              </div>
            </a>
          </div>

        </div>
      </div>
    
    <!-- josaa -->
    <div class="container">
      <div class="card no-hover w-50">
        <div class="card-body">
          <h5 class="card-title">JoSAA</h5>
          <p class="card-text">
            Make sure to stay updated with the latest notifications and announcements on the JoSAA website to make informed decisions regarding your college admissions.
            To fill your choices for JoSAA and to get any additional information, visit the official JoSAA website. </p>
          <a href="https://josaa.nic.in/" target="_blank" class="btn btn-primary">Click Here</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

    </main>
    <!-- intro -->


    <!-- features -->

    <!-- calender -->


    {% endblock %}